* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 2rem;
}

.first {
  border: 5px solid green;

  padding: 20px;
  margin: 50px;

  width: 300px;
}

.second {
  border: 5px solid black;

  padding: 20px;
  margin: 50px;

  width: 300px;
}
