p {
  font-size: 1.5rem;
  /* font-weight: 500; */
  /* font-family: "Noto Serif", serif; */
  /* font-family: "Roboto", sans-serif; */
  /* font-style: italic; */
  /* letter-spacing: 2px; */
  /* line-height: normal; */
  /* text-align: start; */
  /* text-decoration: red wavy underline; */
  /* text-transform: none; */

  /* overflow-wrap: break-word; */
  /* hyphens: auto; */
  /* word-break: break-all; */
}
