/* -------------POSITIONS-------------- */

body {
  height: 500vh;
}

div {
  width: 100px;
  height: 100px;
}

.first {
  background-color: red;
}

/* ----- RELATIVE ----- */

.second {
  background-color: green;
  position: relative;
  top: 50px;
  left: 50px;
}

/* ----- ABSOLUTE ----- */
.third {
  background-color: blue;
  position: absolute;
  top: 100px;
  left: 100px;
}

.parent {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  position: relative;
}

.child {
  width: 100px;
  height: 100px;
  background-color: violet;
  position: absolute;
  top: 0;
  left: 0;
}

/* ----- FIXED ----- */

.help {
  background-color: brown;
  width: fit-content;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* ------------------POSITION : STICKY-------------- */

.sticky-parent {
  width: 300px;
  height: 100vh;
  border: 2px solid black;
}

.sticky-child {
  width: 100px;
  height: 100px;
  background-color: violet;
  position: sticky;
  top: 100px;
}

/* ----------------STACKING ORDER & z-Index------------- */

.stacking-container {
  position: relative;
}

.stacking-container > div {
  width: 100px;
  height: 100px;
  position: absolute;
}

.stacking-first {
  background-color: red;
  z-index: 3;
}

.stacking-second {
  background-color: green;
  top: 50px;
  left: 50px;
  z-index: 2;
}

.stacking-third {
  background-color: blue;
  top: 100px;
  left: 100px;
  z-index: 1;
}
