* {
  margin: 0;
  padding: 0;
}

header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

main {
  width: 400px;
  height: 400px;
  border: 5px solid black;
  margin: 20px;
}

.parent {
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.child {
  width: 100px;
  height: 100px;
  color: white;
  font-size: 2rem;
  text-align: center;
  border: 2px solid red;
  background-color: blue;
}

.first {
  flex: 1 1 auto;
  /* align-self: flex-start; */
  /* order: 3; */
}

.second {
  flex: 1 1 auto;
  /* align-self: flex-start; */
  /* order: 2; */
}

.third {
  flex: 1 1 auto;
  /* align-self: flex-start; */
  /* order: 1; */
}
